
h1 {
    font-size: 3em;
    
}

.blog-container {
    display: flex; 
    justify-content: spcae-between; 
    flex-direction: row;
    flex-wrap: wrap; 
    

    .blog {
        margin: 2%;
        width: 700px;
        height: 600px;
        overflow: auto;
        border: none;
        background:#e8fdfa;

        figure > img {
            width: 50%;
            height: 50%;
            display: block; 
            margin: 3% auto; 
        }

        h2, h5, p {
            margin: 3%;
        }
    }
}






// @media screen and (min-width: 600px) {
//  .blog {
//     width: 100px;
//     height: 400px;
//  }
// }