body {
  background-color: #ccffff;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5% 0;
}

section .profile-pic {
  height: 400px;
  width: 300px;
  -webkit-box-shadow: 5px 15px 25px black;
          box-shadow: 5px 15px 25px black;
  margin: 5%;
}

section .about-me {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: coloumn;
          flex-direction: coloumn;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
}

section .about-me .greeting {
  text-align: left;
  margin: 0 0 5% 0;
}

section .about-me .greeting h1 {
  font-size: xx-large;
  font-family: Balsamiq Sans, cursive;
  margin: 0 0 5% 0;
}

section .about-me .greeting article > p {
  margin: 0 0 3% 0;
}

section .about-me .social {
  text-align: left;
}

section .about-me .social .logo {
  width: 7%;
  height: 7%;
  min-width: 50px;
  min-height: 50px;
  border-radius: 20%;
  margin: 2% 2% 0 0;
}

h1 {
  font-size: 3em;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: spcae-between;
      -ms-flex-pack: spcae-between;
          justify-content: spcae-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-container .blog {
  margin: 2%;
  width: 700px;
  height: 600px;
  overflow: auto;
  border: none;
  background: #e8fdfa;
}

.blog-container .blog figure > img {
  width: 50%;
  height: 50%;
  display: block;
  margin: 3% auto;
}

.blog-container .blog h2, .blog-container .blog h5, .blog-container .blog p {
  margin: 3%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
}

h1, h2, h3 {
  font-family: Balsamiq Sans, cursive;
  color: #009999;
  font-weight: bold;
}

.nav-header > nav {
  /* display: block; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align item along the main axis */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align item within the container/ vertically */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #009999;
  height: 8vh;
  /* position: fixed; 
    top: 0; 
    width: 100%; */
}

.nav-header > nav a {
  text-decoration: none;
  /* remove default underline <a> */
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  margin: 0 1%;
}

nav a:hover {
  color: #99ffff;
}
/*# sourceMappingURL=main.css.map */