body {
    background-color: #ccffff;

}
   

section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 5% 0;

    
    .profile-pic {
    height: 400px;
    width: 300px;
    box-shadow: 5px 15px 25px black;
    margin: 5%;
    
    }

    .about-me {
    display: block;
    flex-direction: coloumn; 
    align-items: center;
    width: 40%;
    height: 100%;

        .greeting {
            text-align: left;
            margin: 0 0 5% 0;
            
            h1 {
                font-size: 200%;
                font-family: Balsamiq Sans, cursive;
                margin: 0 0 5% 0;

            }
            
            article > p {
                margin: 0 0 3% 0;
            }
        }
            
        .social {
            text-align: left;
            

            
            .logo {
                width: 3%;
                height: 3%;
                min-width: 30px;
                min-height: 30px;
                border-radius: 20%;
                margin: 2% 2% 0 0;
            }
        }
  
    }
}



    

