

.main-blog {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 20vh 0;
}


h1 {
    font-size: 1.5em;
    margin-bottom: 8vh;

}


.blog-container {
    display: flex; 
    justify-content: center; 
    flex-direction: row;
    flex-wrap: wrap; 
    

    .blog {
        margin: 1.5%;
        padding: 2%;
        width: 100%;
        height: 120px;
        max-width: 400px;
        border: none;
        background:#e8fdfa;
        overflow: auto;

        h2 {
        font-size: 2em;
        margin: 1%;
        }
        
        h5 {
            margin-left: 1%;
            font-size: 1em;
        }

        P {
            margin-left: 1%;

        }
    }
}



 @media screen and (max-width: 800px) {
.blog-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .blog {
    width: 80%;
    height: 50%;
} 
}
}
