.heading {
    margin: 3%;
}

h1 {
    font-size: 3em;
    background-color:yellow;
    
}

.blog-container {
    display: flex; 
    justify-content: spcae-between; 
    flex-direction: row;
    flex-wrap: wrap; 
    background-color: pink;
    margin: 0;
    

    .blog {
        margin: 3%;
        width: 20%;
        height: 20%;
        min-width: 300px;
        min-height: 50px;
        border: none;
        background:#e8fdfa;

        figure > img {
            width: 50%;
            height: 50%;
            display: block; 
            margin: 3% auto; 
        }

        h2, h5, p {
            margin: 3%;
        }

        p {
            overflow: hidden;
            text-overflow: elipsis
        }
    }
}






// @media screen and (min-width: 600px) {
//  .blog {
//     width: 100px;
//     height: 400px;
//  }
// }