@mixin flexCenter {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.body-experience-container {
    margin: 20vh 0; 
    @include flexCenter; 
    width: 100%; 
    height: 100%;
}

.main-experience-container {
        width: 40%; 
        height: 100%;
        @include flexCenter;

    p {
        color: rgb(42, 138, 138);
        font-size: smaller; 
    }


    .work-container {
        h2 {
            font-size: 1.3em;
            margin: 5% 0; 
            text-align: center;
            border: 1px solid #009999; 
        }

        h3 {
            font-size: 1.2em;
            color: #0fb6b6;  
        }

        h5 {
            font-size: 0.9em; 
            font-style: italic;
            color:rgb(55, 87, 87);
        }

        h6 {
            font-size: 0.9em; 
            margin-bottom: 1.5%; 
            color: rgb(55, 87, 87);
        }

        p {
            margin-bottom: 3vh; 
            color: black;
        }
    }

    .education-container {
        @extend .work-container; 
    }

    .learning-container {
        @extend .work-container; 
    }
}



@media screen and (max-width: 1025px) {
    .main-experience-container {
        width: 70%;
        height: 100%;
    }
}

