@mixin flexCenter {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

@mixin margin-bottom {
    margin-bottom: 1.5%
}



main {
    margin: 20vh 0; 
    @include flexCenter; 

}