body {
  background-color: #ccffff;
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20vh 0;
}

.main-about .profile-pic img {
  height: 400px;
  width: 300px;
  -webkit-box-shadow: 5px 15px 25px black;
          box-shadow: 5px 15px 25px black;
  margin: 5% 2%;
}

.main-about .about-me {
  display: block;
  width: 40%;
  height: 100%;
  margin: 2% 0 0 5%;
  font-size: 1em;
}

.main-about .about-me .greeting {
  text-align: left;
  margin: 0 0 5% 0;
}

.main-about .about-me .greeting h1 {
  font-size: 200%;
  font-family: Balsamiq Sans, cursive;
  margin: 0 0 5% 0;
}

.main-about .about-me .greeting article > p {
  margin: 0 0 3% 0;
}

.main-about .about-me .social {
  text-align: left;
}

.main-about .about-me .social .logo {
  width: 3%;
  height: 3%;
  min-width: 30px;
  min-height: 30px;
  border-radius: 20%;
  margin: 2% 2% 0 0;
}

@media screen and (max-width: 800px) {
  .main-about {
    margin: 10vh 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5em;
  }
  .main-about .greeting {
    width: 100%;
    height: 100%;
  }
}

.main-blog {
  display: block;
}

.heading {
  margin: 3%;
}

h1 {
  font-size: 2em;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: spcae-between;
      -ms-flex-pack: spcae-between;
          justify-content: spcae-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.blog-container .blog {
  margin: 3%;
  margin-top: 0;
  width: 50%;
  height: 30%;
  min-width: 250px;
  max-height: 200px;
  border: none;
  background: #e8fdfa;
  overflow: hidden;
}

.blog-container .blog figure > img {
  width: 20%;
  height: 20%;
  margin: 3%;
}

.blog-container .blog h2 {
  font-size: 2em;
}

.blog-container .blog h5 {
  margin-left: 3%;
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-container .blog {
    max-width: 80%;
    max-height: 30%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 100%;
}

h1, h2, h3 {
  font-family: Balsamiq Sans, cursive;
  color: #009999;
  font-weight: bold;
}

.nav-header > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align item along the main axis */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align item within the container/ vertically */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #009999;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-header > nav a {
  text-decoration: none;
  /* remove default underline <a> */
  font-size: 100%;
  font-weight: bold;
  color: #ffffff;
  margin: 0 3%;
}

nav a:hover {
  color: #99ffff;
}

@media screen and (max-width: 1050px) {
  .nav-header > nav > a {
    font-size: 1.2m;
  }
}
/*# sourceMappingURL=main.css.map */