body {
  background-color: #ccffff;
}

.main-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20vh 0;
}

.main-about .profile-pic img {
  height: 400px;
  width: 300px;
  -webkit-box-shadow: 5px 15px 25px black;
          box-shadow: 5px 15px 25px black;
  margin: 5% 2%;
}

.main-about .about-me {
  display: block;
  width: 40%;
  height: 100%;
  margin: 2% 0 0 5%;
  font-size: 1em;
}

.main-about .about-me .greeting {
  text-align: left;
  margin: 0 0 5% 0;
}

.main-about .about-me .greeting h1 {
  font-size: 200%;
  font-family: Balsamiq Sans, cursive;
  margin: 0;
}

.main-about .about-me .greeting h6 {
  margin: 0 0 5% 0;
  color: #009999;
}

.main-about .about-me .greeting p {
  margin: 0 0 3% 0;
}

.main-about .about-me .social {
  text-align: left;
}

.main-about .about-me .social .logo {
  width: 3%;
  height: 3%;
  min-width: 30px;
  min-height: 30px;
  border-radius: 20%;
  margin: 2% 2% 0 0;
}

@media screen and (max-width: 800px) {
  .main-about {
    margin: 10vh 0;
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-about .profile-pic img {
    width: 200px;
    height: 266px;
  }
  .main-about .about-me {
    width: 80%;
    height: 100%;
  }
  .main-about .about-me .greeting h1, .main-about .about-me h6 {
    text-align: center;
    margin-right: 2%;
  }
}

.main-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0;
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-container .blog {
  margin: 3%;
  padding: 1%;
  width: 100%;
  height: 120px;
  max-width: 400px;
  border: none;
  background: #e8fdfa;
  overflow: hidden;
}

.blog-container .blog a {
  text-decoration: none;
}

.blog-container .blog a > h2 {
  font-size: 1.5em;
  margin: 1%;
}

.blog-container .blog h5 {
  margin-left: 1%;
  font-size: 1em;
}

.blog-container .blog P {
  margin-left: 1%;
}

.blog a:hover {
  font-size: 1.5em;
}

@media screen and (max-width: 1025px) {
  .blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-container .blog {
    width: 90%;
    height: 50%;
  }
}

.main-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20vh 0;
}

.main-post h1 {
  font-size: 2em;
  margin-bottom: 1.5%;
}

.main-post img {
  width: 30%;
  height: 40%;
  margin-bottom: 1.5%;
}

.main-post .post {
  width: 50%;
  height: 100%;
}

.main-post .post h5 {
  font-size: 0.75em;
  margin-bottom: 1.5%;
  text-align: left;
  font-style: italic;
}

@media screen and (max-width: 1025px) {
  .main-post {
    margin: 15vh 0;
  }
  .main-post > .post {
    width: 80%;
    height: 100%;
  }
  .post > h5 {
    margin: 2vh 0;
  }
  .main-post > img {
    min-width: 60%;
    min-height: 30%;
    margin: 3vh 0;
  }
}

.body-experience-container {
  margin: 20vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main-experience-container {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-experience-container p {
  color: #2a8a8a;
  font-size: smaller;
}

.main-experience-container .work-container h2, .main-experience-container .education-container h2, .main-experience-container .learning-container h2 {
  font-size: 1.3em;
  margin: 5% 0;
  text-align: center;
  border: 1px solid #009999;
}

.main-experience-container .work-container h3, .main-experience-container .education-container h3, .main-experience-container .learning-container h3 {
  font-size: 1.2em;
  color: #0fb6b6;
}

.main-experience-container .work-container h5, .main-experience-container .education-container h5, .main-experience-container .learning-container h5 {
  font-size: 0.9em;
  font-style: italic;
  color: #375757;
}

.main-experience-container .work-container h6, .main-experience-container .education-container h6, .main-experience-container .learning-container h6 {
  font-size: 0.9em;
  margin-bottom: 1.5%;
  color: #375757;
}

.main-experience-container .work-container p, .main-experience-container .education-container p, .main-experience-container .learning-container p {
  margin-bottom: 3vh;
  color: black;
}

@media screen and (max-width: 1025px) {
  .main-experience-container {
    width: 70%;
    height: 100%;
  }
}

.main-contact {
  margin: 20vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form label, .form button {
  margin: 5%;
}

.form label input {
  width: 100%;
  height: 100%;
}

.form label textarea {
  width: 100%;
  height: 100%;
}

.social {
  text-align: center;
  text-decoration: none;
}

.social .logo {
  width: 10%;
  height: 10%;
  min-width: 45px;
  min-height: 45px;
  border-radius: 20%;
  margin: 0 2% 4% 2%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 100%;
}

h1, h2, h3 {
  font-family: Balsamiq Sans, cursive;
  color: #009999;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.navbar > nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align item along the main axis */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* align item within the container/ vertically */
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #009999;
  height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar > nav a {
  text-decoration: none;
  /* remove default underline <a> */
  font-size: 100%;
  font-weight: bold;
  color: #ffffff;
  margin: 0 3%;
}

nav a:hover {
  color: #99ffff;
}

a:link {
  color: #7a5dbe;
}

a:visited {
  color: #a32e26;
}

a:hover {
  color: #dfe224;
}
/*# sourceMappingURL=main.css.map */