@mixin flexCenter {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

@mixin margin-bottom {
    margin-bottom: 1.5%
}


/* parent of all content of a blog post */
.main-post {
    @include flexCenter;
    margin: 20vh 0;
    
    h1 {
    font-size: 2em;
    @include margin-bottom; 
    }

    img {
        width: 30%;
        height: 40%;
        @include margin-bottom
        }  

    .post {
        width: 50%;
        height: 100%;
  
        h5 {
            font-size: 0.75em;
            @include margin-bottom;
            text-align: left; 
            font-style: italic;
        }
    }
} 

@media screen and (max-width: 1025px) {
    .main-post {
        margin: 15vh 0; 
    }
    .main-post > .post {
         width: 80%; 
         height: 100%; 
    }

    .post > h5 {
        margin: 2vh 0; 
    }

    .main-post > img {
        min-width: 60%; 
        min-height: 30%;
        margin: 3vh 0;
    }
}